version: '3.2'

services:
  nginx-proxy:
    image: jwilder/nginx-proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - conf:/etc/nginx/conf.d:rw
      - vhost:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - dhparam:/etc/nginx/dhparam
      - certs:/etc/nginx/certs:ro
      - ./htpasswd:/etc/nginx/htpasswd
      - /var/run/docker.sock:/tmp/docker.sock:ro

  letsencrypt:
    image: jrcs/letsencrypt-nginx-proxy-companion
    restart: unless-stopped
    volumes_from:
      - nginx-proxy
    volumes:
      - certs:/etc/nginx/certs:rw
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - DEFAULT_EMAIL=floris.defeyter@outlook.com

  db:
    image: postgres
    restart: unless-stopped
    volumes:
      - ./volumes/data:/var/lib/postgresql/data
      - /etc/localtime:/etc/localtime:ro
    env_file:
      - .postgres.env

  wireguard:
    image: lscr.io/linuxserver/wireguard
    container_name: wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=1001
      - PGID=1001
      - TZ=Europe/Brussels
      - SERVERURL=wg.floco.me
      - SERVERPORT=443
      - PEERS=1
      - PEERDNS=192.168.0.1
    volumes:
      - ./volumes/wireguard/config:/config
      - /lib/modules:/lib/modules
    ports:
      - 51820:51820/udp
    environment:
      - VIRTUAL_HOST=wg.floco.me
      - VIRTUAL_PORT=51820
      - LETSENCRYPT_HOST=wg.floco.me
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    restart: unless-stopped

  bitwarden:
    image: vaultwarden/server:latest
    restart: unless-stopped
    volumes:
      - ./volumes/bw_data:/data
    environment:
      - VIRTUAL_HOST=bw.floco.me
      - VIRTUAL_PORT=80
      - LETSENCRYPT_HOST=bw.floco.me
      - SIGNUPS_ALLOWED=false

  netatalk:
    image: cptactionhank/netatalk:latest
    restart: unless-stopped
    volumes:
      - /femzpool/:/media/share
      - /femzpool/timemachine/:/media/timemachine
    ports:
      - "548:548"
    env_file:
      - .netatalk.env

volumes:
  conf:
  vhost:
  html:
  dhparam:
  certs:
