version: '3.2'

services:
  nginx-proxy:
    image: jwilder/nginx-proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - conf:/etc/nginx/conf.d:rw
      - vhost:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - dhparam:/etc/nginx/dhparam
      - certs:/etc/nginx/certs:ro
      - /var/run/docker.sock:/tmp/docker.sock:ro

  letsencrypt:
    image: jrcs/letsencrypt-nginx-proxy-companion
    restart: unless-stopped
    volumes_from:
      - nginx-proxy
    volumes:
      - certs:/etc/nginx/certs:rw
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - DEFAULT_EMAIL=floris.defeyter@outlook.com

  db:
    image: postgres
    restart: unless-stopped
    volumes:
      - ./volumes/data:/var/lib/postgresql/data
      - /etc/localtime:/etc/localtime:ro
    env_file:
      - .postgres.env

  nextcloud:
    image: nextcloud
    restart: unless-stopped
    depends_on:
      - db
    volumes:
      - ./volumes/html:/var/www/html
      - /etc/localtime:/etc/localtime:ro
    env_file:
      - .postgres.env
    environment:
      - POSTGRES_HOST=db
      - VIRTUAL_HOST=nc.floco.me
      - VIRTUAL_PORT=80
      - LETSENCRYPT_HOST=nc.floco.me

  bitwarden:
    image: bitwardenrs/server:latest
    restart: unless-stopped
    volumes:
      - ./volumes/bw_data:/data
    environment:
      - VIRTUAL_HOST=bw.floco.me
      - VIRTUAL_PORT=80
      - LETSENCRYPT_HOST=bw.floco.me  

  netatalk:
    image: cptactionhank/netatalk:latest
    restart: unless-stopped
    volumes:
      - /femzpool/timemachine/share:/media/share
      - /femzpool/timemachine/timemachine:/media/timemachine
    ports:
      - "548:548"
    env_file:
      - .netatalk.env

  zettel:
    image: sridca/neuron
    restart: unless-stopped
    volumes:
      - /femzpool/zettelkasten:/notes
    ports:
      - "8080:8080"
    environment:
      - VIRTUAL_HOST=zettel.floco.me
      - VIRTUAL_PORT=8080
      - LETSENCRYPT_HOST=zettel.floco.me
    command: neuron gen -ws 0.0.0.0:8080
    user: "${UID}:${GID}"

volumes:
  conf:
  vhost:
  html:
  dhparam:
  certs:
